<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <header>
            <div class="logo">
                <img src="/static/Logo.svg" alt="Website Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="cta">
                <a href="#" class="cta-button">Get Started</a>
            </div>
        </header>
    </div>
    <div class="grid_card">
            <ul class="blog-grid">
                <li class="blog-post">
                    <img src="https://source.unsplash.com/random/600x400?healthy" alt="Blog Post 1">
                    <span class="date-span"><b>3 : 30PM . 14 OCT 2023</b></span>
                    <div class="separator">
                        <hr class="hr1">
                        <span class="separator-text">x</span>
                        <hr class="hr2">
                    </div>
                    <h2>Blog Post Title 1</h2>
                    <p>This mode is only useful for specialised printing. Like Indexed color, you eill rarely use this as pphotographer. photoshop uses 256 levels of gre in each channnel when changing to indexed color</p>
                    <div class="separator">
                        <hr class="hr3">
                        <span class="separator-text">x</span>
                        <hr class="hr4">
                        
                    </div>
                    <span><b>By Vala Abhishek</b></span>
                </li>
                <!-- Repeat the structure for other blog posts -->
            </ul>
        
    </div>


    <footer>
        <div class="footer-columns">
            <div class="footer-column">
                <h1>Veestara</h1>
                <p class="veestara-footer-description">Namaste, Your Trusted source for daily, weekly, Monthly and Yearly horoscope updates! We are dedicated to bringing you insightful and accurate astrological guidence to help you navigate life's twists and turns.</p>
                <!-- Content for the first column goes here -->
            </div>
            <div class="footer-column">
                 <ul class="footer-column2-list">
                    <li><h2>Pages</h2></li><br>
                    <li>Home</li><br>
                    <li>About - us</li><br>
                    <li>Contact - us</li><br>
                    <li>sitemap</li>
                 </ul>
                <!-- Content for the second column goes here -->
            </div>
            <div class="footer-column">
                <ul class="footer-column3-list">
                    <li><h2>Quick Links</h2></li><br>
                    <li>Horoscope</li><br>
                    <li>Astrology</li><br>
                    <li>Birth-Chart</li>
                </ul>
                <!-- Content for the third column goes here -->
            </div>
            <div class="footer-column">
                <div class="footer-colum4">
                <h2>Contact - Us</h2>
                <img src="/static/Send Mail.png" alt="mail-image" class="image-footer-column4">
                <p class="p-footer-column4">Veestara0@gmail.com</p>
                
                </div>
                <!-- Content for the fouth column goes here -->
            </div>
        </div>
        <p class="footer-credit">&copy; 2023 Your Website Name</p>
    </footer>
</body>

</html>