<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:300,400,500,600,700">
    <title>About us</title>
</head>

<body>
    <header>
        <div class="logo"><img src="static/logo.png"></img> </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('article', article_id=1) }}">Article</a></li>
                <li><a href="#">Contact us</a></li>
                <!-- Add more navigation links here -->
            </ul>
        </nav>
    </header>

    <main>
        <h1>Veestara</h1>
        <p>hello there </p>
    </main>

</body>

</html>