<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Form</title>
    <link rel="stylesheet" href="/static/insert_form.css">


    {{ckeditor.load(pkg_type="full")}}

</head>

<body>
    {% include 'dashboard.html' %}
    <div class="container">
        <h1 align="center">Create a Page</h1>
            <form action="/create_page" method="POST" enctype="multipart/form-data">
                <label for='Id'>Id: </label>
                <input type="text" id="Id" name="Id"><br><br>

                <label for='Title'>Title: </label>
                <input type="text" id="Title" name="Title"><br><br>

                <label for="Date">Data:</label>
                <input type="date" id="Data" name="Date"><br><br>

                <label for="URL">URL:</label>
                <input type="text" id="URL" name="URL"><br><br>

                <label for="Content">Content: </label>
                {{ form.Content(class="ckeditor") }}

                <label for="Image">Image:</label>
                <input type="file" id="Image" name="Image"><br><br>

                <button type="submit" name="action" value="create">Create Page</button>
                <button type="submit" name="action" value="delete">Delete Page</button>
                <button type="submit" name="action" value="update">Update Page</button>
                <button type="submit" name="action" value="show">Show Page</button>
            </form>

        <a href="/">Back to Home</a>
</div> 
</body>

</html>