<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700">

</head>
<body>
    <footer>
        <div class="footer-columns">
            <div class="footer-column">
                <h1>Veestara</h1>
                <p class="veestara-footer-description">Namaste, Your Trusted source for daily, weekly, Monthly and Yearly horoscope updates! We are dedicated to bringing you insightful and accurate astrological guidance to help you navigate life's twists and turns.</p>
            </div>
            <div class="separator"></div>
            <div class="footer-column">
                <ul class="footer-column2-list">
                    <li>
                        <h2>Pages</h2>
                    </li>
                    <li>Home</li>
                    <li>About - us</li>
                    <li>Contact - us</li>
                    <li>sitemap</li>
                </ul>
            </div>
            <div class="separator"></div>
            <div class="footer-column">
                <ul class="footer-column3-list">
                    <li>
                        <h2>Quick Links</h2>
                    </li>
                    <li>Horoscope</li>
                    <li>Astrology</li>
                    <li>Birth-Chart</li>
                </ul>
            </div>
            <div class="separator"></div>
            <div class="footer-column">
                <div class="footer-colum4">
                    <h2>Contact - Us</h2>
                    <img src="/static/Send Mail.png" alt="mail-image" class="image-footer-column4">
                    <p class="p-footer-column4">Veestara0@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="footer-credit">
            &copy; 2023 Veestara
        </div>
    </footer>
</body>
</html>
