{% include 'header.html' %}
<!DOCTYPE html>
<html>

<head>
    <!-- Your HTML head content here -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <!--  {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                <li class="flash-{{ message[1] }}">{{ message[0] }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}-->




        <h2 id="txt-login">Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>
{% include 'footer.html' %}